h1
{
    color: #66BFBF;
    font-size: 4rem;
}
body
{
    background-color: #EAF6F6;
    text-align: center;
    margin: 0;
}
.beg
{
    margin: auto;
    width: 50%;
}
.arrow
{
    width: 10%;
    position: absolute;
    left: 0%;
    top: 30%;
}
.arrow2
{
    width: 10%;
    position: absolute;
    left: 10%;
    top: 25%;
}
.arrow3
{
    width: 10%;
    position: absolute;
    left: 20%;
    top: 20%;
}
.epearl
{
    width: 30%;
    position: absolute;
    right: 0%;  
    top: -15%;
}
.logo
{
    margin-top: 5%;
}
.middle-container
{
    background-color: #4174AA;
    margin-top: 5%;
}
hr
{
    border-top-width: 15px;
    border-style: none;
    border-top-style: dotted;
    border-color: #EAF6F6;
    width: 5%;
    margin: 5% auto 5% auto;
}
.p1
{
    width: 20%;
    margin: auto;
    line-height: 120%;
}
p
{
    margin: auto;
    line-height: 120%;
    color: #ff5100;
}
h2
{
    color: #66BFBF;
    font-size: 3rem;
}
h3
{
    color: #66BFBF;
    font-size: 1.5rem;
}
.img1
{
    float: left;
}
.img2
{
    float: right;
}
.img3
{
    float: left;
    width: 40%;
}
.skill-row
{
    position: relative;
    width: 50%;
    overflow: auto;
    margin: auto;
}
.bottom-container
{
    background-color: #66BFBF;
}